.card-body{
    display: contents;
}
.card {
    padding: 20px;
    border: 2px solid rgba(118, 0, 85, 0.65);
    border-radius: 8px;
    height: 100%;
    width: 380px;
    margin-right: 40px;
}
.card-wrapper{
    display: flex;
    justify-content: center;
    margin-left: 100px
}
.carousel-control-prev{
    height: 100%;
    width: 50px;
    margin-left: 50px;
}
.carousel-control-next{
    height: 100%;
    width: 50px;
}
.carousel-indicators{
    position: relative;
}
.blogPost2{
    display: none;
}
@media only screen and (max-width: 600px){
    .blogPost1{
        display: none;
    }
    .blogPost2{
        display: block;
    }
    .card{
        width: unset;
        height: unset;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 768px){
    
}

@media only screen and (min-width: 2560px){}