.App {
  font-family: 'Noto Sans', sans-serif;
}
/* .wrapper{
  height: 100%;
  width: 100%;
} */
.banner{
  background-image:url(./images/dummy.jpg);
  height: 700px;
  margin-top: 70px;
  background-size:100%;
  background-repeat: no-repeat;
}
.welcome{
  text-align: center;
  top: 40%;
  position: relative;
}
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}