.aboutContent {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 80px;
}
.membersView {
    margin-top: 120px;
}

.membersView2 {
    display: none;
}

.card-group-members {
    margin-left: 140px;
    margin-top: 50px;
}

.item {
    margin-top: 80px;
}

.title {
    color: rgba(118, 0, 85, 0.65);
    text-transform: uppercase;
}

.card2 {
    padding: 20px;
    border: 2px solid rgba(118, 0, 85, 0.65);
    box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 900px;
    margin-top: 160px;
    margin-left: 200px
}

.cardMem {
    display: inline-block;
    padding: 24px;
    border: 2px solid rgba(118, 0, 85, 0.65);
    box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 350px;
    width: 280px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.cardMem .face {
    transition: 0.5s;
}

.cardMem .face.face1 {
    position: relative;
    transform: translateY(50px);
    z-index: 1;
}

.cardMem:hover .face.face1 {
    transform: translateY(0);
}

.cardMem .face.face1 .memberContent {
    opacity: 1;
    transition: 0.5s;
}

.cardMem:hover .face.face1 .memberContent {
    opacity: 1;
}

.cardMem .face.face1 .memberContent>img {
    max-width: 100%;
}

.cardMem .face.face1 .memberContent>h3 {
    text-align: center;
    color: rgba(118, 0, 85, 0.65);
    font-size: 24px;
    font-weight: 500;
}

.cardMem .face.face2 {
    /* background-color: white; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* box-sizing: border-box; */
    transform: translateY(-150px);
}

.cardMem .face.face2 .memberContent {
    opacity: 0;
    transition: 0.5s;
}

.cardMem:hover .face.face1 .memberContent {
    opacity: 1;
}

.cardMem:hover .face.face2 {
    transform: translateY(0)
}

.cardMem .face.face2 .memberContent>p {
    text-align: center;
    color: black;
}

.card-body {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    margin: 0;
    display: none;
}

.membersView2 {
    display: none;
}

@media only screen and (max-width: 600px) {
    .aboutContent {
        margin-top: 20px;
        margin-left: 0px;
    }

    .card {
        margin-left: 10px;
        width: 380px;
    }

    .card2 {
        width: 380px;
        height: 100%;
        margin-left: 10px;
    }

    .cardMem {
        margin-bottom: 20px;
        height: 300px;
        width: unset;
        margin-left: 10px;
        display: inline-block;
        padding: 0;
        border: none;
        box-shadow: none;
    }

    .card-group-members {
        margin-left: 0px;
    }

    .membersView {
        margin-top: 50px;
    }

}

@media only screen and (max-width: 768px) {
    .aboutContent{
        margin-top: 0px;
        font-size: 14px;
        margin-left: 20px;
    }
    .membersView{
        margin-top: 20px;
    }
    .card-group-members {
        margin-left: 0px;
        margin-top: 0px;
    }
    .cardMem{
        display: inline-block;
        padding: 0px;
        border: none;
        box-shadow:none;
        border-radius: 0px;
        height: 100px;
        width: unset;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 2560px) {
    .about{ 
        background-position: 70% -2.5%;
        background-size: 22%;
    }
    .aboutContent{
        font-size: 24px;
    }
}